body{
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
}

*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul{
    list-style-type: none;
}
img{
    width: 100%;
}
a{
    color: inherit;
}


/* LAYOUT styles */
.container{
    max-width: 1600px;
    margin: auto;
}
aside, main, .passive-width{
    float: left;
}
aside, .passive-width{
    width: 20%;
}
main{
    width: 80%;
}
.passive-width{
    height: 1px;
}

/* ASIDE STYLES */
aside{
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: white;
    overflow: auto;
}
.m-3{
    margin: 15px;
}
.px-3{
    padding: 0 15px;
}
.portfolio-content .title{
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}
.portfolio-content ul i{
    margin-right: 15px;
}
.portfolio-content a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #222;
    padding-top: 5px;
    padding-bottom: 5px;
}
.portfolio-content a:hover{
    color: green;
    background-color: lightgray;
}

/* MAIN style */
main .profile-picture{
    display: none;
}
.main-container{
    padding: 0 20px;
}
header{
    border-bottom: 4px solid lightgray;
}
header h1{
    margin: 20px 0;
}
.filter{
    margin-bottom: 10px;
}
.filter-box{
    margin-left: 30px;
}
.filter-box, .filter-box li{
    display: inline-block;
}
/* radio buttons styles */
input{
    display: none;
}
.filter-box label{
    font-size: 0.8em;
    display: inline-block;
    padding: 8px 15px;
    background-color: white;
    cursor: pointer;
}
.filter-box label i{
    margin-right: 10px;
}
.filter-box label:hover{
    background-color: lightgray;
}
.filter-box input:checked + label{
    background-color: #222;
    color: white;
}
/* PHOTO GRID */
.photo-grid{
    margin-top:10px;
}
.flex-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.box{
    background: white;
}
.box img:hover{
    opacity: 0.7;
}
.box .content{
    padding: 10px;
}
.box .title{
    font-weight: bold;
}
/* pagination */
.pagination{
    text-align: center;
    margin: 30px;
}
.pagination li{
    display: inline-block;
}
.page-link{
    text-decoration: none;
    font-size: 0.7em;
    color: black;
    padding: 6px 10px;
}
.page-link:hover{
    background-color: #222;
    color: white;
}
/* MAIN PICTURES BLOCK */
.main-pictures{
    display: flex;
    gap: 10px;
}
.main-pictures .image{
    flex: 1;
}
.main-pictures .image img{
    display: block;
}
/* ABOUT ME */
.about-me{
    margin: 30px 0;
}
/* CONTACT ME */
.contact-me{
    background-color: gray;
    padding: 30px 20px;
}
.contact-me h3{
    margin-bottom: 30px;
}
.contact-block{
    display: flex;
}
.contact-box{
    flex: 1;
    text-align: center;
    padding: 20px;
    color: rgb(230, 230, 230);
    background: rgb(104, 98, 98);
}
.contact-box i{
    font-size: 2em;
    margin-bottom: 10px;
}
.contact-box a{
    text-decoration: none;
    color: inherit;
}
.middle{
    background-color: rgb(58, 133, 109);
}
/* CONTACT ME end*/
/* FOOTER */
footer{
    display: flex;
    gap: 20px;
    padding: 40px 30px;
    color: rgb(230, 230, 230);
    background: rgb(104, 98, 98);
}
footer .content-block{
    flex: 1;
}
footer .content-block .title{
    font-size: 1.3em;
    margin-bottom: 20px;
}
footer .content-block p{
    margin-bottom: 20px;
}
footer .content-block ul{
    list-style-type: none;
}
.list-image{
    width: 50px;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}
footer .list-item{
    padding: 10px;
}
footer .list-item:hover{
    background: rgb(187, 187, 187);
}
footer .list-item-content{
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}
footer .list-item-content .head{
    font-size: 1.2em;
}
footer ul li + li{
    border-top: 1px solid rgb(230, 230, 230);
}
footer .content-block span{
    display: inline-block;
    margin-top: 3px;
    font-size: 0.8em;
    padding: 2px 4px;
    background-color: gray;
    color: black;
}
footer .content-block span.popular{
    background-color: #222;
    color: white;
    padding: 4px 6px;
}
/* FOOTER end */
.signature{
    padding: 20px;
    text-align: center;
    color: white;
    background: #222;
}

@media screen and (max-width: 992px){
    aside, .passive-width{
        display: none;
    }
    main{
        float:none;
        width: 100%;
    }
    main .profile-picture{
        position: absolute;
        right: 10px;
        display: block;
        width: 70px;
        border-radius: 50%;
        overflow: hidden;
    }
    main .profile-picture img{
        display: block;
    }
}
@media screen and (max-width: 768px){
    .flex-block{
        grid-template-columns: 1fr;
    }
    .main-pictures{
        flex-direction: column;
        gap: 0;
    }
    .contact-block, footer{
        flex-direction: column;
    }
    .filter-box li:nth-child(3), .filter-box li:nth-child(4){
        display: none;
    }
}
