body{
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
}

*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul{
    list-style-type: none;
}
img{
    width: 100%;
}


/* LAYOUT styles */
.container{
    width: 1000px;
    margin: auto;
}
aside, main{
    float: left;
}
aside{
    width: 20%;
}
main{
    width: 80%;
}

/* ASIDE STYLES */
aside{
    height: 100vh;
    background-color: white;
}
.m-3{
    margin: 15px;
}
.px-3{
    padding: 0 15px;
}
.portfolio-content .title{
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}
.portfolio-content ul i{
    margin-right: 15px;
}
.portfolio-content a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #222;
    padding-top: 5px;
    padding-bottom: 5px;
}
.portfolio-content a:hover{
    color: green;
    background-color: lightgray;
}

/* MAIN style */
header{
    border-bottom: 4px solid lightgray;
}
header h1{
    margin-bottom: 20px;
}
.filter{
    margin-bottom: 10px;
}
.filter-box{
    margin-left: 30px;
}
.filter-box, .filter-box li{
    display: inline-block;
}
/* radio buttons styles */
input{
    display: none;
}
.filter-box label{
    font-size: 0.8em;
    display: inline-block;
    padding: 8px 15px;
    background-color: white;
    cursor: pointer;
}
.filter-box label i{
    margin-right: 10px;
}
.filter-box label:hover{
    background-color: lightgray;
}
.filter-box input:checked + label{
    background-color: #222;
    color: white;
}
/* PHOTO GRID */
.photo-grid{
    margin-top:10px;
}
.flex-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.box{
    background: white;
}
.box img:hover{
    opacity: 0.7;
}
.box .content{
    padding: 10px;
}
.box .title{
    font-weight: bold;
}
/* pagination */
.pagination{
    text-align: center;
    margin: 30px;
}
.pagination li{
    display: inline-block;
}
.page-link{
    text-decoration: none;
    font-size: 0.7em;
    color: black;
    padding: 6px 10px;
}
.page-link:hover{
    background-color: #222;
    color: white;
}
/* MAIN PICTURES BLOCK */
.main-pictures{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}
/* ABOUT ME */
.about-me{
    margin: 30px 0;
}
/* CONTACT ME */
.contact-me{
    background-color: gray;
    padding: 30px 20px;
}
.contact-me h3{
    margin-bottom: 30px;
}
.contact-block{
    display: flex;
}
.contact-box{
    flex: 1;
    text-align: center;
    padding: 20px;
    color: rgb(230, 230, 230);
    background: rgb(104, 98, 98);
}
.contact-box i{
    font-size: 2em;
    margin-bottom: 10px;
}
.contact-box a{
    text-decoration: none;
    color: inherit;
}
.middle{
    background-color: rgb(58, 133, 109);
}
/* CONTACT ME end*/
/* FOOTER */
footer{
    display: flex;
    padding: 40px 30px;
    color: rgb(230, 230, 230);
    background: rgb(104, 98, 98);
}
footer .content-block{
    flex: 1;
}
footer .content-block ul{
    list-style-type: none;
}
.list-image{
    width: 50px;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}
footer .list-item{
    padding: 10px;
}
footer .list-item:hover{
    background: rgb(187, 187, 187);
}
footer .list-item-content{
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}
footer .list-item-content .title{
    font-size: 1.2em;
}
footer ul li + li{
    border-top: 1px solid rgb(230, 230, 230);
}
